{
  "semi": true,
  "trailingComma": "es5",
  "singleQuote": false,
  "printWidth": 80,
  "tabWidth": 2,
  "useTabs": false,
  "bracketSpacing": true,
  "arrowParens": "always",
  "endOfLine": "lf",
  "overrides": [
    {
      "files": ["*.ts"],
      "options": {
        "parser": "typescript"
      }
    },
    {
      "files": ["*.tsx"],
      "options": {
        "parser": "typescript",
        "jsxSingleQuote": false
      }
    },
    {
      "files": ["*.js", "*.jsx"],
      "options": {
        "parser": "babel"
      }
    },
    {
      "files": ["*.json", "*.jsonc"],
      "options": {
        "parser": "json"
      }
    },
    {
      "files": ["tsconfig*.json"],
      "options": {
        "parser": "jsonc",
        "trailingComma": "none"
      }
    }
  ]
}
