.container {
  padding-top: 100px;
  padding-bottom: 100px;
  display: flex;
  flex-direction: column;
  row-gap: 30px;

  .content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 30px;
    row-gap: 30px;

    .task {
      border: 2px solid #007bff;
      display: flex;
      flex-direction: column;
      row-gap: 20px;
      padding: 20px;
      border-radius: 10px;
      transition: box-shadow 0.3s ease;
      background: #a3daff;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
      transition:
        background 0.3s ease,
        box-shadow 0.3s ease;
      cursor: pointer;

      &:hover {
        background: #7cc1ff;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      }
    }
  }
}

@media (max-width: 768px) {
  .container {
    padding-top: 60px;
    padding-bottom: 60px;

    .content {
      grid-template-columns: 1fr;
    }
  }
}
