.container {
  display: grid;
  grid-template-columns: auto max-content;
  align-items: center;
  gap: 20px;

  .button {
    height: 55px;
    width: max-content;
    background-color: #333333;
    white-space: nowrap;
  }
}

@media (max-width: 480px) {
  .container {
    grid-template-columns: 1fr;

    .button {
      width: 100%;
    }
  }
}
