.container {
    display: flex;
    position: fixed;
    top: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
    background-color: rgba(#000000, .5);
    padding: 16px;
    opacity: 0;
    animation: fadeIn 0.3s forwards;

    &_isFocused {
        z-index: 1000;
    }

    @keyframes fadeIn {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }
}