.container {
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    row-gap: 30px;
    height: 100vh;

    &__list {
        display: flex;
        flex-direction: column;
        row-gap: 10px;
        overflow: auto;
        max-width: 340px;
        width: 100%;
        padding: 10px;

        .person {
            border: 2px solid #ffc700;
            padding: 20px;
            background-color: #ffe564;
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            cursor: pointer;
            transition: all 0.3s ease;

            &:hover {
                background-color: #ffd633;
                box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
            }
        }
    }


}