.container {
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  min-height: 100%;
  height: 100%;

  .marker {
    width: 30px;
    height: 30px;
    background-color: #eb6e4b;
    border-radius: 50%;
    border: 2px solid #ffffff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    cursor: pointer;
  }
}
