@mixin wrapper {
    height: 100%;
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin container {
    display: grid;
    row-gap: 40px;
    width: 100%;
    max-width: 460px;
}

@mixin title {
    font-family: Inter;
    font-weight: 600;
    font-style: Semi Bold;
    font-size: 24px;
    leading-trim: NONE;
    line-height: 100%;
    letter-spacing: 0px;
    color: #1B1B1D;

    @media (max-width: 767px) {
        font-size: 20px;
    }
}

@mixin subtitle {
    color: rgba(#1B1B1D, .5);
    font-family: Inter;
    font-weight: 400;
    font-style: Regular;
    font-size: 14px;
    leading-trim: NONE;
    line-height: 100%;
    letter-spacing: 0px;
    vertical-align: middle;

}

@mixin subSubtitle {
    color: #939393;
    text-align: center;

    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
}

@mixin inputs {
    display: grid;
    row-gap: 10px;
}

@mixin link {
    font-family: Inter;
    font-weight: 500;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0px;
    vertical-align: middle;
    color: #1B1B1D;
    cursor: pointer;
}

@mixin questionBlock {
    display: grid;
    width: 100%;

    &_question {
        font-family: Inter;
        font-weight: 400;
        font-style: Regular;
        font-size: 12px;
        line-height: 140%;
        letter-spacing: 0px;
        text-align: center;
        vertical-align: middle;
        color: rgba(#1B1B1D80, .5)
    }

    &_link {
        text-align: center;
        @include link();
    }
}

@mixin agreement {
    display: grid;
    grid-template-columns: max-content auto;
    column-gap: 10px;

    &>p {
        font-family: Inter;
        font-weight: 500;
        font-style: Medium;
        font-size: 14px;
        letter-spacing: 0px;
        vertical-align: middle;
        line-height: 140%;
        color: rgba(#1B1B1D, .5);

        span {
            font-family: Inter;
            font-weight: 500;
            font-style: Medium;
            font-size: 14px;
            line-height: 100%;
            letter-spacing: 0px;
            color: #1B1B1D;
            cursor: pointer;
        }
    }
}