@mixin customNode($background: #c3ffb2, $border-color: #28a745) {
  padding: 10px 15px;
  border-radius: 5px;
  font-size: 14px;
  text-align: center;
  border: 1px solid #eee;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  min-width: 150px;
  background: $background;
  border-color: $border-color;
  max-width: 300px;

  &__label {
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
    text-align: start;
  }

  .details {
    li {
      text-align: left;
      margin: 3px 0;
      color: #555;
    }
  }
}
