name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version: "20"
          cache: "yarn"

      - run: yarn install --frozen-lockfile
      - run: yarn jest
        env:
          NEXT_PUBLIC_SW_API_BASE_URL: https://sw-api.starnavi.io/api
          NEXT_PUBLIC_WEATHERAPI_BASE_URL: https://api.openweathermap.org/data/2.5
          NEXT_PUBLIC_WEATHERAPI: test-api-key
          NEXT_PUBLIC_MAP: test-map-key
